body {
  margin: 0px;
}

.superior {
  width: 100%;
  height: 250px;
  flex-shrink: 0;
  background: linear-gradient(to left, #ffffff73, #fffefe),
    url(../img/subcabecera1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 15% auto;
}
.superior span {
  color: var(--Primary, #1f2b6c);
  /* Display 1 */
  font-family: Yeseva One;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
  grid-column: 2/3;
  font-weight: bold;
}
.separador {
  display: flex;
}
.separador .uno {
  width: 20%;
  height: 8px;
  flex-shrink: 0;
  background: var(--Accent, #bfd2f8);
}
.separador .dos {
  width: 60%;
  height: 8px;
  flex-shrink: 0;
  background: var(--Primary, #1f2b6c);
}
.separador .tres {
  width: 20%;
  height: 8px;
  flex-shrink: 0;
  background: var(--Secondary, #159eec);
}
.consultas {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.revisarconsultas {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.revisarconsultas .texto {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: var(--Primary, #1f2b6c);
  text-align: right;

  /* Display 2 */
  font-family: Yeseva One;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.revisarconsultas .listaconsult {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 100%;
}

.revisarconsultas .listaconsult article {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  border-radius: 5px;
  background: var(--Primary, #1f2b6c);
  height: 52px;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 10%;
}
.revisarconsultas .listaconsult article span {
  color: var(--white, #fcfefe);
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}
.revisarconsultas .listaconsult article span:nth-of-type(1) {
  margin-left: 2%;
}
.revisarconsultas .listaconsult article button {
  border-radius: 50px;
  background: var(--Accent, #bfd2f8);
  display: flex;
  width: 110px;
  padding: 13px 35px;
  align-items: flex-start;
  gap: 10px;
}
.css-button-arrow--sky {
  margin-top: 5%;
  min-width: 300px;
  height: 45px;
  color: #fff;
  font-family: "Work Sans";
  font-weight: bold;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #1f2b6c;
}
.css-button-arrow--sky:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.css-button-arrow--sky:hover:after {
  opacity: 1;
  right: 10px;
}
.css-button-arrow--sky:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
